/* #headl{
    margin-left: 50%; 
    text-align: center;
}
#userNum{
    margin-left: 50%;
     
}
#myButton{
    margin-left: 50%;
    
} */
.content{
    /* margin-left:50%; */
    max-width: 500px;
   margin: auto;
   
    
 }